# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.pyc

# --- Virtual environments ---
.venv/
env/
venv/

# --- VS Code Settings ---
.vscode/

# --- macOS ---
.DS_Store
runs/TemporalFusionNet/events.out.tfevents.1762274001.caecelisa.2522190.0
runs/TemporalFusionNet/events.out.tfevents.1762274042.caecelisa.2523685.0
runs/TemporalFusionNet/events.out.tfevents.1762274057.caecelisa.2524385.0
runs/TemporalFusionNet/events.out.tfevents.1762274156.caecelisa.2566948.0
runs/TemporalFusionNet/events.out.tfevents.1762274246.caecelisa.2616158.0
runs/TemporalFusionNet/events.out.tfevents.1762274392.caecelisa.2654821.0
runs/TemporalFusionNet/events.out.tfevents.1762274753.caecelisa.2748516.0
runs/TemporalFusionNet/events.out.tfevents.1762275003.caecelisa.2756523.0
runs/TemporalFusionNet/events.out.tfevents.1762275098.caecelisa.2759657.0
runs/TemporalFusionNet/events.out.tfevents.1762275183.caecelisa.2793536.0
runs/TemporalFusionNet/events.out.tfevents.1762275243.caecelisa.2795638.0
runs/TemporalFusionNet/events.out.tfevents.1762275272.caecelisa.2804599.0
runs/TemporalFusionNet/events.out.tfevents.1762275313.caecelisa.2827654.0
runs/TemporalFusionNet/R2_Train/events.out.tfevents.1762274058.caecelisa.2524385.3
runs/TemporalFusionNet/R2_Train/events.out.tfevents.1762274156.caecelisa.2566948.3
runs/TemporalFusionNet/R2_Train/events.out.tfevents.1762274246.caecelisa.2616158.3
runs/TemporalFusionNet/R2_Train/events.out.tfevents.1762274393.caecelisa.2654821.3
runs/TemporalFusionNet/R2_Train/events.out.tfevents.1762275098.caecelisa.2759657.3
runs/TemporalFusionNet/R2_Train/events.out.tfevents.1762275243.caecelisa.2795638.3
runs/TemporalFusionNet/R2_Train/events.out.tfevents.1762275273.caecelisa.2804599.3
runs/TemporalFusionNet/R2_Train/events.out.tfevents.1762275314.caecelisa.2827654.3
runs/TemporalFusionNet/R2_Val/events.out.tfevents.1762274058.caecelisa.2524385.4
runs/TemporalFusionNet/R2_Val/events.out.tfevents.1762274156.caecelisa.2566948.4
runs/TemporalFusionNet/R2_Val/events.out.tfevents.1762274246.caecelisa.2616158.4
runs/TemporalFusionNet/R2_Val/events.out.tfevents.1762274393.caecelisa.2654821.4
runs/TemporalFusionNet/R2_Val/events.out.tfevents.1762275098.caecelisa.2759657.4
runs/TemporalFusionNet/R2_Val/events.out.tfevents.1762275243.caecelisa.2795638.4
runs/TemporalFusionNet/R2_Val/events.out.tfevents.1762275273.caecelisa.2804599.4
runs/TemporalFusionNet/R2_Val/events.out.tfevents.1762275314.caecelisa.2827654.4
runs/TemporalFusionNet/RMSE_kWh_Train/events.out.tfevents.1762274058.caecelisa.2524385.1
runs/TemporalFusionNet/RMSE_kWh_Train/events.out.tfevents.1762274156.caecelisa.2566948.1
runs/TemporalFusionNet/RMSE_kWh_Train/events.out.tfevents.1762274246.caecelisa.2616158.1
runs/TemporalFusionNet/RMSE_kWh_Train/events.out.tfevents.1762274393.caecelisa.2654821.1
runs/TemporalFusionNet/RMSE_kWh_Train/events.out.tfevents.1762275098.caecelisa.2759657.1
runs/TemporalFusionNet/RMSE_kWh_Train/events.out.tfevents.1762275243.caecelisa.2795638.1
runs/TemporalFusionNet/RMSE_kWh_Train/events.out.tfevents.1762275273.caecelisa.2804599.1
runs/TemporalFusionNet/RMSE_kWh_Train/events.out.tfevents.1762275314.caecelisa.2827654.1
runs/TemporalFusionNet/RMSE_kWh_Val/events.out.tfevents.1762274058.caecelisa.2524385.2
runs/TemporalFusionNet/RMSE_kWh_Val/events.out.tfevents.1762274156.caecelisa.2566948.2
runs/TemporalFusionNet/RMSE_kWh_Val/events.out.tfevents.1762274246.caecelisa.2616158.2
runs/TemporalFusionNet/RMSE_kWh_Val/events.out.tfevents.1762274393.caecelisa.2654821.2
runs/TemporalFusionNet/RMSE_kWh_Val/events.out.tfevents.1762275098.caecelisa.2759657.2
runs/TemporalFusionNet/RMSE_kWh_Val/events.out.tfevents.1762275243.caecelisa.2795638.2
runs/TemporalFusionNet/RMSE_kWh_Val/events.out.tfevents.1762275273.caecelisa.2804599.2
runs/TemporalFusionNet/RMSE_kWh_Val/events.out.tfevents.1762275314.caecelisa.2827654.2
